body{
    background-color: grey;
}
div.caixaum{
    position:absolute;
    margin-left: 400px;
    background-color:lightgrey;
    padding:50px;
    height: 2px;
    width: 600px ;
    border-style:outset;
    border-color:darkgrey;
    text-align: center;
}
div.caixaum1{
    position:relative;
    bottom: -150px;
    margin-left: 400px;
    background-color:lightgrey;
    padding:50px;
    height: 300px;
    width: 600px;
    border-style:dotted;
    border-color:grey ;
    text-align: center;
}
.farm{
    position:relative;
    bottom: 30px;
    color:grey
}
.bee{
    font-size: x-large;
}
