@import url('https://fonts.googleapis.com/css2?family=Milonga&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IM+Fell+Great+Primer&display=swap');
body{
    background-image: linear-gradient(to bottom, #C884FF,#C884FF,#C884FF, #55D7FF, #55D7FF);
    background-repeat: no-repeat;
}
ul{
    list-style-type: none;
    overflow: hidden;
    background-color: white;
    height: 85px;
    width: 1479px;
    margin-left: -8px;
    margin-top: -8px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
#busca{
    color: black;
    background: none;
    padding-left:5px;
    border-radius: 10px;
    font-size:16px;
    border: none;
    height:35px;
    width:1065px;
}
input::placeholder{
    color:black;
}
.pesquisa{
    height:25px;
    width:25px;
    margin-top:-1px;
    margin-left: 5px;
    margin-right: 5px;
}
#pesquisa{
    background-color:transparent;
    border: solid black 1px;;
    border-radius:10px;
    width:1100px;
    display: flex;
    justify-content:flex-start;
    align-items: center;
    margin-left:-45px;
} 
.computador{
    width: 90px;
    height: 60px;
    margin-left: -20px;
    margin-top:10px;
}
p{
    font-family: arial;
    margin-left: 4px;
    margin-top: -1px;
    font-size: small;
}
.menu{
    width: 60px;
    height: 40px;
    margin-left: -25px;
    display: flex;
    align-items: center;
}
.logo{
    margin-left: 65px;
    width: 180px;
    height: 170px;
}
.text{
    font-family: IM Fell Great Primer;
    margin-top: -30px;
    font-size:18px;
    color:white;
    font-weight: 500;
}
h1{
    font-family: Milonga;
    font-size: 55px;
    text-shadow: 1px 1px rgba(255, 255, 255, 0.478);
    font-weight: 500;
}
.primeiralinha{
    display: flex;
    flex-direction: row;
}
#coluna{
    margin-left: 70px;
}
button{
    margin-top: 15px;
    text-align: center;
    border: none;
    background-color: #37F3FF;
    border-radius: 20px;
    width: 200px;
    height: 35px;
    color:black;
    font-family: IM Fell Great Primer;
    font-size: 18px;
}
.button{
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    width: 92%;
    margin-left:8px;
}
hr{
    margin-top: 20px;
    border:solid 1px #37F3FF;
    width: 1335px;
}
.linha2{
    display: flex;
    flex-direction: row;
}
.quadrado{
    width: 10px;
    height: 10px;
    border:none;
    background-color: #37F3FF;
    rotate:45deg;
    margin-top:-64px;
    margin-left: 80px;
    display:flex;
    justify-content:flex-start;
}
.quadrado1{
    width: 10px;
    height: 10px;
    border:none;
    background-color: #37F3FF;
    rotate:45deg;
    margin-top:-64px;
    margin-left: 1325px;
    display: flex;
    justify-content: flex-end;
}
.lupa1{
    width: 50px;
    height: 50px;
    margin-left: -50px;
    margin-top:-40px;
}
.baixo{
    margin-left: 30px;
    font-family: IML Fell Great Primer;
    font-size: 14px;
    color:black;
    font-weight: 500;
}
.acimadalinha{
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    margin-left:30px;
    margin-top: 200px;
    width: 92%;
}
#segundalinha{
    margin-top: -5px;
    border:solid 1px #9D4EFE;
    width: 1335px;
}
.quadrado2{
    width: 10px;
    height: 10px;
    border:none;
    background-color: #9D4EFE;
    rotate:45deg;
    margin-top:-15px;
    margin-left: 85px;
    display:flex;
    justify-content:flex-start;
}
.quadrado3{
    width: 10px;
    height: 10px;
    border:none;
    background-color: #9D4EFE;
    rotate:45deg;
    margin-top:-9px;
    margin-left: 1420px;
    display: flex;
    justify-content: flex-end;
}
.circulo{
    background-image: linear-gradient(to bottom, #E6E318,#e6e318c4, #e6e31822);
    border-radius: 50%;
    width: 250px;
    height: 250px;
    margin-left: 320px;
    margin-top: -450px;
}
.triangulo{
    width: 0;
    height: 0;
    border-left: 110px solid transparent;
    border-right: 110px solid transparent;
    border-bottom: 190px solid #C152A3;
    margin-left: 160px;
    margin-top: -420px;
}
.quadrado4{
    background-image: linear-gradient(to bottom, #3AFD73,#3afd749e, #3afd7433);
    width: 140px;
    height: 140px;
    margin-top: 130px;
    margin-left: 1230px;
}
.circulo1{
    background-image: linear-gradient(to right, #6DADE4,#6DADE4, #6dace473, #6dace42b);
    border-radius: 50%;
    width: 230px;
    height: 230px;
    margin-left: 1100px;
    margin-top: -150px;
}
.transparent{
    height: 1px;
    width: 1px;
    margin-bottom: 90;
}
h2{
    margin-top: 45px;
    text-align: center;
    font-family: Milonga;
    font-size: 35px;
    text-shadow: 1px 1px rgba(255, 255, 255, 0.23);
    font-weight: 500;
}
.caixa{
    height: 300px;
    width: 900px;
    background-color: white;
    border: none;
    border-radius: 30px;
}
.borda{
    display: flex;
    justify-content: center;
}
#linha3{
    margin-top: 20px;
    border:solid 1px #7887F4;
    width: 800px;
}
h3{
    font-family: IML Fell Great Primer;
    font-size: 18px;
    color:black;
    font-weight: 100;
    margin-left: 50px;
}
.losangochefe{
    display: flex;
    flex-direction: column;
    margin-left: 350px;
    margin-top: -296px;
}
.losangochefe1{
    display: flex;
    flex-direction: column;
    margin-left: 1147px;
    margin-top: -239px;
}
#losango{
    width: 10px;
    height: 10px;
    border:none;
    background-color: #7887F4;
    rotate:45deg;
    margin-top:50px;
}
button:hover{
    background-color:#30c8d3;
}