h1.removed{
    display:none;
    border:2px solid red;
}
h1.hidden{
    visibility: hidden;
    border:2px solid blue;
}
/*li versão inline*/
li{
    display: inline;
}
/*span versão em bloco*/
span{
    display:block;
}
/*opacidade*/
img{
    opacity:0.4;
    height:200px;
}
img:hover{
    opacity:1.0;
    height:200px
}