.dropbtn{
    background-color:darkcyan;
    color:white;
    padding:10px;
    font-size: 20px;
    border:none;
}
.dropdown{
    position:relative;
    display: inline-block;
}
.dropdown-content{
    display: none;
    position:absolute;
    background-color:rgb(2, 227, 227);
    min-width: 150px;
    box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.2);
    z-index: 1; 
}
.dropdown-content a{
    color:black;
    padding:12px 16px;
    text-decoration: none;
    display:block;
}
.dropdown-content a:hover{
    background-color:cadetblue;
}
.dropdown:hover .dropbtn{
    background-color: rgb(4, 181, 181);
}
.dropdown:hover .dropdown-content{
    display:block;
}