body{
    background-color: black;
    text-align: center;
}
.text{
    color:wheat;
    position:relative;
    bottom:-20px;
}
img{
    position:relative;
    bottom:-20px;
    display: inline;
    width: 220px;
    height: 300px;
    margin-left: 20px;
}
img:hover{
    border:solid 3px wheat;
}
.text1{
    color:wheat;
    position:relative;
    bottom:-35px;
}
video{
    width:500px;
    height:300px;
    position:relative;
    bottom:-1px;
}
